<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>

<body>
    <div class="container">
        <h1>Recursos Humanos de Node.js</h1>

        <form id="login-form">
            <label for="emp_id">Expediente:</label>
            <input class="form-control" type="text" name="emp_id" id="emp_id">

            <label for="emp_pass">Contraseña:</label>
            <input class="form-control" type="password" name="emp_pass" id="emp_pass">

            <input type="submit" value="Acceder">
        </form>
    </div>

    <script type="module" src="../scripts/main.js"></script>
</body>

</html>