<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>

<body>
    <h3>Buscar emmpleado</h3>
    <form id="search-form">
        <label for="emp_search">Empleado (exp):</label>
        <input type="text" name="emp_search" id="emp_search">

        <input type="submit" value="Buscar">
    </form>

    <div id="busqueda"></div>

    <h3>Alta de empleado</h3>
    <form id="add-form">
        <label for="emp_name">Nombre: </label>
        <input type="text" name="emp_name" id="emp_name">

        <label for="emp_id">Expediente:</label>
        <input class="form-control" type="text" name="emp_id" id="emp_id">

        <label for="emp_dpto">Departamento:</label>
        <select name="emp_dpto" id="emp_dpto">
            <option value="TI">Información de las Tecnologías</option>
            <option value="sales">Ventas</option>
            <option value="marketing">Mercadoctenia</option>
            <option value="rrhh">Recursos Humanos</option>
        </select>

        <label for="emp_pass">Contraseña:</label>
        <input class="form-control" type="password" name="emp_pass" id="emp_pass">

        <input type="submit" value="Alta">
    </form>

    <script type="module" src="../scripts/main.js"></script>

    <h3>Empleados</h3>
    <table id="table">
        <tr>
            <th>Expediente</th>
            <th>Nombre</th>
            <th>Departamento</th>
        </tr>
    </table>

    <script>
        const table = document.getElementById('table');

        (async () => {
            const data = await fetch('http://localhost:3000/');
            const employees = await data.json();
            console.log(employees);

            table.insertAdjacentHTML('beforeend', employees)
        }
        )();

    </script>
</body>

</html>