<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>

<body>
    <h3>Buscar emmpleado</h3>
    <form id="search-form">
        <label for="emp_search">Empleado (exp):</label>
        <input type="text" name="emp_search" id="emp_search">

        <input type="submit" value="Buscar">
    </form>

    <div id="busqueda"></div>

    <h3>Alta de empleado</h3>
    <form id="add-form">
        <label for="emp_name">Nombre: </label>
        <input type="text" name="emp_name" id="emp_name">

        <label for="emp_id">Expediente:</label>
        <input class="form-control" type="text" name="emp_id" id="emp_id">

        <label for="emp_dpto">Departamento:</label>
        <select name="emp_dpto" id="emp_dpto">
            <option value="TI">Información de las Tecnologías</option>
            <option value="sales">Ventas</option>
            <option value="marketing">Mercadoctenia</option>
            <option value="rrhh">Recursos Humanos</option>
        </select>

        <label for="emp_pass">Contraseña:</label>
        <input class="form-control" type="password" name="emp_pass" id="emp_pass">

        <input type="submit" value="Alta">
    </form>

    <script type="module" src="../scripts/main.js"></script>

    <h3>Empleados</h3>
    <table id="table">
        <tr>
            <th>Expediente</th>
            <th>Nombre</th>
            <th>Departamento</th>
        </tr>
    </table>

    <script>
        const table = document.getElementById('table');

        document.addEventListener('DOMContentLoaded', () => {
            fetchData()
            .then(employees => {
                employees.forEach(employee => {
                    insertNewRowTable(employee);
                })
            });
        });

        async function fetchData() {
            const data = await fetch('http://localhost:3000/');
            return await data.json();
        }

        function insertNewRowTable(employee) {
            console.log(employee)
            let newRow = table.insertRow(-1);

            insertCellTable(newRow, employee["id"]);
            insertCellTable(newRow, employee["name"]);
            insertCellTable(newRow, employee["department"]);

            let removeCell = newRow.insertCell(-1);
            let btnRemove = document.createElement('button');
            btnRemove.innerText = 'Baja';

            removeCell.appendChild(btnRemove);

            let updateCell = newRow.insertCell(-1);
            let btnUpdate = document.createElement('button');
            btnUpdate.innerText = 'Actualizar';

            updateCell.appendChild(btnUpdate);

            btnRemove.addEventListener('click', removeRow);
            btnUpdate.addEventListener('click', updateRow);
        }

        function insertCellTable(newRow, value) {
            let newCell = newRow.insertCell(-1);
            newCell.textContent = value;
        }

        function removeRow() {
            alert('Empleado dado de baja');
        }

        function updateRow() {
            alert('Empleado actualizado');
        }
    </script>
</body>

</html>